html {
  background-color: #000;
}
@media screen and (min-width:900px) {
 html {
  background: #ee4444 linear-gradient(90deg, #050505, #050505, #e44 200px);
 }
}

body {
  font-family: sans-serif;
  padding: 0;
  margin: 0;
}

.posterText {
  position: relative;
  padding: 5vh;
  z-index: 10;
}



.posterText__heading {
  color: #fe4840;
  font-size: 2.5rem;
  font-weight: normal;
  text-transform: uppercase;
  letter-spacing: 0.25px;
  line-height: 1;
  margin: 0 0 0.5rem 0;
}

.posterText__body {
  color: #ddd;
  font-size: .5rem;
  letter-spacing: 0.25em;
  left: 0.4em;
  margin: 0;
  position: relative;
  text-transform: uppercase;
}

.poster {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 100px;
  z-index: 5;
}

.poster > div {
  background-color: #000;
  display: block !important;
}

.poster > div::after {
  content: "";
  position: absolute;
  right: 0;
  top: 0;
  bottom: 0;
  width: 3px;
  background-color: #0006;
}
